<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
    <div class="content-wrapper">
    	<div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-object-group"></i> Gerätegruppen</h3>
            </div>
        <h:form id="deviceGroupForm" class="templatewrapper">
            <!-- TODO Ersteller and Devices are missing -->  
            <p:dataTable id="deviceGroupTable" var="group" value="#{labDeviceGroupListController.labDeviceGroups}">
                <p:column style="width:50px">
            		<p:rowToggler />
        		</p:column>
                <p:column headerText="ID" style="width:100px; text-align: center;">
                    <h:outputText value="#{group.id}"/>
                </p:column>
                <p:column headerText="Name">
                    <h:outputText value="#{group.name}"/>
                </p:column>
                <p:column headerText="Ersteller">
                    <h:outputText value="#{group.userTag.firstName} #{group.userTag.lastName}"/>
                </p:column>
                <p:column style="width:100px;text-align: center">
                    <p:commandButton icon="fa fa-edit" title="Edit" class="btn btn-primary" update=":deviceGroupForm:groupEditDialog" oncomplete="PF('groupEditDialog').show()" >
                        <f:setPropertyActionListener value="#{group}" target="#{labDeviceGroupDetailController.labDeviceGroup}" />
                    </p:commandButton>
                    <p:commandButton icon="fa fa-trash" title="Delete" class="btn btn-danger" update=":deviceGroupForm:deviceGroupTable" action="#{labDeviceGroupListController.deleteLabDeviceGroup(group)}" >
                        <p:confirm header="Achtung" message="Möchten Sie die ausgewählte Laborgerätegruppe unwiderruflich löschen?" icon="ui-icon-alert" />
                    </p:commandButton>
                </p:column>
                <p:rowExpansion>
                    <p:panelGrid  columns="2" columnClasses="ui-grid-col-6, ui-grid-col-2"  styleClass="panelNoBorder">
                        <p:dataTable value="#{group.labDevices}" var="device" style="width: 600px">
                            <p:column headerText="Gerätename">
                                <h:outputText value="#{device.name}" style="font-weight: bold"/>
                            </p:column>
                                <p:column headerText="Labor">
                                <h:outputText value="#{device.laboratory.laboratoryName}" style="font-weight: bold"/>
                            </p:column>
                            <p:column headerText="Zustand" style="text-align: center">
                                <h:outputText class="label label-success" value="verfügbar" rendered="#{device.state}"/>
                                <h:outputText class="label label-danger" value="gesperrt" rendered="#{!device.state}"/>
                            </p:column>
                            <hr />
                        </p:dataTable>
                        <p:panelGrid  columns="1">
                            <p:commandButton icon="fa fa-check" rendered="#{labDeviceGroupListController.getState(group)}" title="reserve" value="Gruppe reservieren" class="btn btn-primary" update=":deviceGroupForm:deviceGroupReservationDialog" oncomplete="PF('deviceGroupReservationDialog').show()">
                                <f:setPropertyActionListener value="#{group}" target="#{newReservationController.labDeviceGroup}" />
                            </p:commandButton>
                            <p:commandButton icon="fa fa-book" title="reserve" value="Reservierungen anzeigen" class="btn btn-primary" update=":deviceGroupForm:deviceGroupReservationListDialog" oncomplete="PF('deviceGroupReservationListDialog').show()">
                                <f:setPropertyActionListener value="#{group}" target="#{labDeviceGroupDetailController.labDeviceGroup}" />
                            </p:commandButton>
                        </p:panelGrid>
                    </p:panelGrid>
                </p:rowExpansion>
               
            </p:dataTable>
            
            <p:dialog header="Gerätegruppe bearbeiten" id="groupEditDialog" widgetVar="groupEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:panelGrid  columns="2" style="width:800px">
                    <h:outputText value="Gruppenname:" />
                    <p:inputText id="groupname" value="#{labDeviceGroupDetailController.labDeviceGroup.name}">
                    	<p:ajax event="keyup" listener="#{labDeviceGroupDetailController.inputChanged(true)}" update=":deviceGroupForm:savebtnGroup"/>
                    </p:inputText>
                    
                    <p:autoComplete id="egal" completeMethod="#{labDeviceGroupDetailController.completeDevices}" minQueryLength="3" var="device" itemValue="#{device.id}" forceSelection="true" placeholder="Geräte hinzufügen">
                                        
                                        <p:ajax event="itemSelect" listener="#{labDeviceGroupDetailController.addDevice}" update="deviceTable :deviceGroupForm:savebtnGroup"/> 
                                        <p:column>
                                            <h:outputText value="#{device.name}" />
                                        </p:column>
                                         <p:column>
                                         	<h:outputText value="#{device.deviceModel}" />
                                        </p:column>
                                         <p:column>
                                            <h:outputText value="#{device.laboratory.laboratoryName}" />
                                        </p:column>
                                         <p:column>
                                            <h:outputText value="#{device.location}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText class="label label-success" value="verfügbar" rendered="#{device.state}"/>
                    						<h:outputText class="label label-danger" value="gesperrt" rendered="#{!device.state}"/>
                                        </p:column>
                                    </p:autoComplete>
                                <p:dataTable id="deviceTable" var="device" value="#{labDeviceGroupDetailController.labDeviceGroup.labDevices}" widgetVar="deviceGroup" scrollHeight="160" scrollable="true" >
                                   <p:column headerText="Gerätename" sortBy="#{device.name}" >
                                       <h:outputText value="#{device.name}" />                     
                                   </p:column>
                                    <p:column headerText="Modellnr." >
                                       <h:outputText value="#{device.deviceModel}" />                     
                                   </p:column>
                                   <p:column headerText="Labor" >
                                       <h:outputText value="#{device.laboratory.laboratoryName}" />                     
                                   </p:column>
                                    <p:column headerText="Standort" >
                                       <h:outputText value="#{device.location}" />                     
                                   </p:column>
                                   <p:column headerText="Zustand">
                                       <h:outputText class="label label-success" value="verfügbar" rendered="#{device.state}"/>
                    					<h:outputText class="label label-danger" value="gesperrt" rendered="#{!device.state}"/>                
                                   </p:column>
                                   
                                   
                                    <p:column style="width:32px;text-align: center">
                                        <p:commandButton icon="fa fa-trash" class="btn btn-danger" actionListener="#{labDeviceGroupDetailController.deleteDevice(device)}" update="deviceTable :deviceGroupForm:savebtnGroup">
                                             <p:confirm header="Entferne?" message="Wollen Sie das Gerät wirklich aus der Liste entfernen?" icon="ui-icon-alert"/>
                                        </p:commandButton>
                                    </p:column>
                                   
                               </p:dataTable>
                </p:panelGrid>
                <p:commandButton icon="fa fa-save" title="Save" value="Speichern" class="btn btn-primary" oncomplete="PF('groupEditDialog').hide()"  id="savebtnGroup" style="margin-top: 10px;" action="#{labDeviceGroupDetailController.save}" update=":deviceGroupForm:deviceGroupTable" disabled="#{!labDeviceGroupDetailController.addEnabled}"/>
            	<h:outputText style="text-align: right" value="Bitte geben Sie den Gruppennamen und die dazugehörigen Geräte an. Es müssen mindestens 2 Geräte in der Liste sein." />
            </p:dialog>

            <!-- Group Reservation Modal -->
            <p:dialog header="Gerätgruppe #{newReservationController.labDeviceGroup.name} reservieren" id="deviceGroupReservationDialog" widgetVar="deviceGroupReservationDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" style="max-width: 1100px;">
                <p:messages for="reservation" showDetail="true" ><p:autoUpdate /></p:messages>
                <h:outputText value="Das ausgewählte Gerät hat folgende Reservierungen hinterlegt:" />
                <p:timeline id="timeline" value="#{newReservationController.timeLineModel}" eventMargin="10" eventMarginAxis="0" start="#{newReservationController.startDate}" end="#{newReservationController.endDate}" showNavigation="true" axisOnTop="true" stackEvents="false" styleClass="timelineModal" timeZone="CET"/>
            	<h:outputText value="Bitte geben Sie Ihren gewünschten Reservierungszeitraum an:" /><br/><br/>
            	<p:panelGrid  columns="2" columnClasses="ui-grid-col-4, ui-grid-col-4"  styleClass="panelNoBorder">
                    <p:panelGrid  columns="1" >
            		<p:panelGrid  columns="2" >
                            <h:outputText value="von:" />
                            <h:outputText value="bis:" />
                            <p:calendar id="resStartDate" value="#{newReservationController.reservationStartDate}" pattern="dd.MM.yyyy HH:mm"  readonlyInput="true" timeZone="CET" disabledWeekends="true" locale="de" mindate="#{newReservationController.minStartDate}" inputStyle="color: #{newReservationController.startColor};" ><p:ajax event="dateSelect" listener="#{newReservationController.startDateSelected}" update="savebtnReservation timeline resStartDate resEndDate"></p:ajax></p:calendar>
                            <p:calendar id="resEndDate" value="#{newReservationController.reservationEndDate}" pattern="dd.MM.yyyy HH:mm" readonlyInput="true" timeZone="CET" disabledWeekends="true" locale="de" mindate="#{newReservationController.minEndDate}" inputStyle="color: #{newReservationController.endColor}" ><p:ajax event="dateSelect" listener="#{newReservationController.endDateSelected()}" update="savebtnReservation timeline resStartDate resEndDate"></p:ajax></p:calendar>
                        </p:panelGrid>
                        <p:panelGrid  columns="1" >
                            <h:outputText value="Zweck der Reservierung: (Pflichtfeld)" />
                            <p:inputTextarea value="#{newReservationController.annotation}" rows="6" cols="33" maxlength="255"><p:ajax event="keyup" listener="#{newReservationController.checkAddEnabled}" update="savebtnReservation"></p:ajax></p:inputTextarea>
                    	</p:panelGrid>
                    </p:panelGrid>
                    <p:panelGrid  columns="1" >
                        <h:outputText style="font-weight: bold; font-size: 15px;" value="Sie können die ausgewählten Geräte maximal #{newReservationController.maxDuration} Stunden ausleihen" />
            	<br/><br/>
                    <h:outputText style="font-style: italic" value="Beachten Sie bei der Eingabe Ihrer Reservierung bitte folgende Punkte:" />
                    <h:outputText style="font-style: italic" value="Das gewählte Start und Enddatum muss innerhalb der Öffnungszeiten der Labore sein." />
                    <h:outputText style="font-style: italic" value="Es darf keine Reservierung im ausgewählten Zeitraum liegen." />
                    <h:outputText style="font-style: italic" value="Die maximale Ausleihdauer von #{newReservationController.maxDuration} Stunden darf nicht überschritten werden." />
                    </p:panelGrid>
                </p:panelGrid>
                
                <p:commandButton icon="fa fa-save" title="Save" value="Speichern" update=":deviceGroupForm:deviceGroupTable" class="btn btn-primary" oncomplete="PF('deviceGroupReservationDialog').hide()" action="#{newReservationController.doSaveReservation}" disabled="#{!newReservationController.addEnabled}" id="savebtnReservation" style="margin-top: 10px;"/>

            </p:dialog>
            
            <!-- Show Reservation Modal -->
            <p:dialog header="Reservierungen anzeigen" id="deviceGroupReservationListDialog" widgetVar="deviceGroupReservationListDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" style="max-width: 550px">
                <p:dataTable id="reservationsTable" var="res" value="#{labDeviceGroupDetailController.reservations}">
                    <p:column style="width:50px" rendered="#{sessionInfoBean.hasRole('ADMIN')}">
            		<p:rowToggler />
                    </p:column>
                    <p:column headerText="ID" style="width:50px; text-align: center;">
                        <h:outputText value="#{res.id}"/>
                    </p:column>
                    <p:column headerText="Reservierungsstart">
                        <h:outputText value="#{labDeviceDetailController.convertToDate(res.startDate, res.startTime)}">
                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm" timeZone="CET"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Reservierungsende">
                        <h:outputText value="#{labDeviceDetailController.convertToDate(res.endDate, res.endTime)}">
                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm" timeZone="CET"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Benutzer" rendered="#{sessionInfoBean.hasRole('ADMIN')}">
                        <h:outputText value="#{res.userTag.firstName} #{res.userTag.lastName}" />
                    </p:column>
                    <p:column headerText="Status" style="text-align: center">
                    	<h:outputText value="überfällig" class="label label-danger" rendered="#{reservationListController.isReservationInStatus(res, 'DUE')}"/>
                    	<h:outputText value="geplant" class="label label-info" rendered="#{reservationListController.isReservationInStatus(res, 'OPEN')}"/>
                    	<h:outputText value="aktiv" class="label label-warning" rendered="#{reservationListController.isReservationInStatus(res, 'RUN')}"/>
                	</p:column>
                    <p:rowExpansion>
                        <p:panelGrid columns="1" rendered="#{sessionInfoBean.hasRole('ADMIN')}">
                            <h:outputText value="Zweck der Reservierung:"/>
                            <h:outputText value="#{res.annotation}"/>
                        </p:panelGrid>
                    </p:rowExpansion>
                </p:dataTable>
            </p:dialog>
                
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300">
                <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
        </h:form>
        </div>
    </div>
    </ui:define>
</ui:composition>