<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
    <div class="content-wrapper">
    	<div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-calendar-times-o"></i> Feiertage</h3>
            </div>
        <h:form id="holidayForm" class="templatewrapper">
        		<p:commandButton icon="fa fa-calendar-plus-o" title="neuer Feiertag" value="neuer Feiertag" update=":holidayForm:holidayNewDialog" oncomplete="PF('holidayNewDialog').show()" class="btn btn-primary" style="margin-top: 10px; margin-bottom:20px;"/> 
			    <p:dataTable id="holidayTable" widgetVar="holiday" var="holidayData" value="#{holidayListController.holidays}" style="margin-bottom:20px">
			        <p:column headerText="Datum" style="width:200px; text-align: center;">
			            <h:outputText value="#{holidayData.date}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET" />
			            </h:outputText>
			        </p:column>
			        
			        <p:column headerText="Bemerkung">
			            <h:outputText value="#{holidayData.name}" />
			        </p:column>
				    <p:column style="width:100px;text-align: center">
	                    <p:commandButton icon="fa fa-trash" title="Delete" class="btn btn-danger" update=":holidayForm:holidayTable" action="#{holidayDetailController.delete(holidayData)}">
	                        <p:confirm header="Achtung" message="Möchten Sie den ausgewählten Feiertag wirklich unwiderruflich löschen?" icon="ui-icon-alert" />
	                    </p:commandButton>
                	</p:column>
			        
			    </p:dataTable>
			    
			    <p:dialog header="neuer Feiertag" id="holidayNewDialog" widgetVar="holidayNewDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:panelGrid  columns="2" style="width:500px">                   	 
                	<h:outputText value="Bemerkung :" />
                	<p:inputText value="#{holidayDetailController.holiday.name}" id="name"><p:ajax event="keyup" listener="#{holidayDetailController.inputChanged}" update="savebtnHoliday"></p:ajax></p:inputText>
                	
                    <h:outputText value="Datum:" />
                   	<p:calendar id="holidayStart" value="#{holidayDetailController.holiday.date}" readonlyInput="true"/>
                   	
                </p:panelGrid>
                <p:commandButton icon="fa fa-save" title="Save" value="Speichern" class="btn btn-primary" oncomplete="PF('holidayNewDialog').hide()" action="#{holidayDetailController.save}" disabled="#{!holidayDetailController.addEnabled}" id="savebtnHoliday" style="margin-top: 10px;" update=":holidayForm:holidayNewDialog :holidayForm:holidayTable"/>
            </p:dialog>
            
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300">
                <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
			    
             </h:form>
        </div>
        </div>
    </ui:define>
</ui:composition>
            
            