<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
    <div class="content-wrapper">
    	<div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-flask"></i> Geräteliste</h3>
            </div>
        <h:form id="labDeviceForm" class="templatewrapper">  
            <p:dataTable id="labsDeviceTable" var="device" widgetVar="deviceTable" value="#{labDeviceListController.allLabDevices}" filteredValue="#{labDeviceListController.filteredAllLabDevices}">
            	<p:column style="width:50px">
            		<p:rowToggler />
        		</p:column>
                <p:column headerText="ID" style="width:50px; text-align: center;">
                    <h:outputText value="#{device.id}"/>
                </p:column>
                <p:column headerText="Name" filterBy="#{device.name}" filterMatchMode="contains">
                    <f:facet name="filter">
                        <h:inputText onkeyup="PF('deviceTable').filter()" style="width:90%; color: black;" />
                    </f:facet>
                    <h:outputText value="#{device.name}"/>
                </p:column>
                <p:column headerText="Labor" filterBy="#{device.laboratory.laboratoryName}" filterMatchMode="contains">
                    <f:facet name="filter">
                        <h:inputText onkeyup="PF('deviceTable').filter()" style="width:90%; color: black;" />
                    </f:facet>
                    <h:outputText value="#{device.getLaboratory().laboratoryName}"/>
                </p:column>
                <p:column headerText="Standort" >
                    <h:outputText value="#{device.location}"/>
                </p:column>
                <p:column headerText="max. Reservierungsdauer" style="width:200px;text-align: center">
                    <h:outputText value="#{device.maxDurationInHours}"/>
                </p:column>
                <p:column headerText="Zustand" style="width:100px;text-align: center" filterBy="#{device.state}" filterMatchMode="equals">
                     <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('deviceTable').filter()">
                            <f:converter converterId="javax.faces.Boolean" />
                            <f:selectItem itemLabel="Alle" itemValue="" noSelectionOption="true" />
                            <f:selectItem itemLabel="verfügbar" itemValue="true" />
                            <f:selectItem itemLabel="gesperrt" itemValue="false" />
                        </p:selectOneMenu>
                     </f:facet>
                    <h:outputText class="label label-success" value="verfügbar" rendered="#{device.state}"/>
                    <h:outputText class="label label-danger" value="gesperrt" rendered="#{!device.state}"/>
                </p:column>
                <p:column headerText="Dateien" style="width:100px;text-align: center">
                	<!-- TODO insert count -->
                    <h:outputText class="label label-default" value="#{labDeviceDetailController.getFileCount(device)}"/>
                </p:column>
                <p:column style="width:150px;text-align: center" rendered="#{sessionInfoBean.hasRole('ADMIN')}">
                    <p:commandButton icon="fa fa-edit" title="Edit" class="btn btn-primary" update=":labDeviceForm:deviceEditDialog" oncomplete="PF('deviceEditDialog').show()">
                        <f:setPropertyActionListener value="#{device}" target="#{labDeviceDetailController.labDevice}" />
                    </p:commandButton>
                    <p:commandButton icon="fa fa-trash" title="Delete" class="btn btn-danger" update=":labDeviceForm:labsDeviceTable" action="#{labDeviceListController.delete(device)}">
                        <p:confirm header="Achtung" message="Möchten Sie das ausgewählte Laborgerät unwiderruflich löschen?" icon="ui-icon-alert" />
                    </p:commandButton>
                </p:column>
                <p:rowExpansion>
					<p:panelGrid  columns="2" columnClasses="ui-grid-col-6, ui-grid-col-2"  styleClass="panelNoBorder">
			            <p:panelGrid  columns="1">
			            <p:panelGrid  columns="2" style="width: 700px;">
			                <h:outputText value="Modellnr.:" />
			               	<h:outputText value="#{device.deviceModel}"/>
			                <h:outputText value="Bemerkung:" />
			                <h:outputText value="#{device.annotation}" />
			                
			            </p:panelGrid>
			            <p:dataTable  id="fileTable" var="file" value="#{device.files}" style="width: 200px; background-color: #fff !important;" rendered="#{labDeviceDetailController.getFileCount(device)>'0'}" >
			                <p:column headerText="angehängte Dateien:" style="background-color: #fff !important; border-style: hidden; font-size: 14px; color: #4f4f4f !important; font-weight: 100; text-align: left;">
			                    <p:commandButton ajax="false" icon="fa fa-cloud-download" title="download" class="btn btn-primary">
		                        	<p:fileDownload value="#{labDeviceDetailController.downloadFile(file.path, file.fileName)}" />
                                            </p:commandButton>
                                            <p:commandButton rendered="#{sessionInfoBean.hasRole('ADMIN')}" icon="fa fa-trash" title="Delete" class="btn btn-danger" update=":labDeviceForm:labsDeviceTable" action="#{labDeviceDetailController.deleteFile(file)}">
                                                <p:confirm header="Achtung" message="Möchten Sie diese Datei unwiderruflich löschen?" icon="ui-icon-alert" />
                                            </p:commandButton>
			                    <h:outputText value=" #{file.fileName} "/>
			                </p:column>
                                    </p:dataTable>
		                </p:panelGrid>
			            <p:panelGrid  columns="1" >
                                    <p:commandButton icon="fa fa-check" rendered="#{device.state}" title="reserve" value="Gerät reservieren" class="btn btn-primary" update=":labDeviceForm:deviceReservationDialog" oncomplete="PF('deviceReservationDialog').show()">
		                        <f:setPropertyActionListener value="#{device}" target="#{newReservationController.labDevice}" />
		                    </p:commandButton>
		                    <p:commandButton icon="fa fa-book" title="reserve" value="Reservierungen anzeigen" class="btn btn-primary" update=":labDeviceForm:deviceReservationListDialog" oncomplete="PF('deviceReservationListDialog').show()">
                                        <f:setPropertyActionListener value="#{device}" target="#{labDeviceDetailController.labDevice}" />
		                    </p:commandButton>
		                    <p:commandButton rendered="#{sessionInfoBean.hasRole('ADMIN')}" icon="fa fa-cloud-upload" title="Upload" value="Dateien hinzufügen" class="btn btn-primary" update=":labDeviceForm:addFileDialog" oncomplete="PF('addFileDialog').show()">
                                <f:setPropertyActionListener value="#{device}" target="#{labDeviceDetailController.labDevice}" />
                    		</p:commandButton>
	                    </p:panelGrid>
                    </p:panelGrid>
		        </p:rowExpansion>
               
            </p:dataTable>
            
            <!--  Edit Modal -->
            <p:dialog header="Laborgerät bearbeiten" id="deviceEditDialog" widgetVar="deviceEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">

                <p:panelGrid  columns="2" style="width:700px">
                    <h:outputText value="Geräteame:" />
                    <p:inputText value="#{labDeviceDetailController.labDevice.name}" id="name"><p:ajax event="keyup" listener="#{labDeviceDetailController.inputChanged(false)}" update="savebtnDevice"></p:ajax></p:inputText>
                    
                    <h:outputText value="Modellnr.:" />
                    <p:inputText value="#{labDeviceDetailController.labDevice.deviceModel}" id="model"><p:ajax event="keyup" listener="#{labDeviceDetailController.inputChanged(false)}" update="savebtnDevice"></p:ajax></p:inputText>

                    <h:outputText value="Labor:" />
                    <p:selectOneMenu value="#{labDeviceDetailController.laboratory}">
                        <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
                        <f:selectItems value="#{labDeviceDetailController.laboratories}"/>
                        <p:ajax listener="#{labDeviceDetailController.inputChanged(true)}" update="savebtnDevice" />
                    </p:selectOneMenu>
                    
                    <h:outputText value="Standort:" />
                    <p:inputText value="#{labDeviceDetailController.labDevice.location}" id="location"></p:inputText>
                    
                    <h:outputText value="max. Reservierungsdauer (in h):" />
                    <p:inputNumber id="duration" value="#{labDeviceDetailController.labDevice.maxDurationInHours}"><p:ajax event="keyup" listener="#{labDeviceDetailController.inputChanged(false)}" update="savebtnDevice"></p:ajax></p:inputNumber>
                    
                    <h:outputText value="Zustand:" />
                    <p:selectOneButton value="#{labDeviceDetailController.labDevice.state}" >
           				<f:selectItem itemLabel="verfügbar" itemValue="true" />
            			<f:selectItem itemLabel="gesperrt" itemValue="false" />
        			</p:selectOneButton>	
                    <h:outputText value="Bemerkung:" />
                    <p:inputTextarea value="#{labDeviceDetailController.labDevice.annotation}" rows="6" cols="33" maxlength="255" />
                </p:panelGrid>
                <p:commandButton icon="fa fa-save" title="Save" value="Speichern" update=":labDeviceForm:labsDeviceTable" class="btn btn-primary" oncomplete="PF('deviceEditDialog').hide()" action="#{labDeviceDetailController.doSaveLabDevice}" disabled="#{!labDeviceDetailController.addEnabled}" id="savebtnDevice" style="margin-top: 10px;"/>
            </p:dialog>
            
            <!-- File Upload Modal -->
            <p:dialog header="Dateien hochladen" id="addFileDialog" widgetVar="addFileDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" >
                    <p:fileUpload  style="width: 400px; height: 400px;" fileUploadListener="#{labDeviceDetailController.handleFileUpload}" mode="advanced" dragDropSupport="true"
                                  auto="true" multiple="true" fileLimit="3" sizeLimit="10485760" allowTypes="/(\.|\/)(gif|jpe?g|png|pdf)$/" update=":labDeviceForm:labsDeviceTable" oncomplete="PF('addFileDialog').hide()"  />
            </p:dialog>
            
            <!-- Device Reservation Modal -->
            <p:dialog header="Gerät #{newReservationController.labDevice.name} reservieren" id="deviceReservationDialog" widgetVar="deviceReservationDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" style="max-width: 1100px;">
                <p:messages for="reservation" showDetail="true" ><p:autoUpdate /></p:messages>
                <h:outputText value="Das ausgewählte Gerät hat folgende Reservierungen hinterlegt:" />
                <p:timeline id="timeline" value="#{newReservationController.timeLineModel}" eventMargin="10" eventMarginAxis="0" start="#{newReservationController.startDate}" end="#{newReservationController.endDate}" showNavigation="true" axisOnTop="true" stackEvents="false" styleClass="timelineModal" timeZone="CET"/>
            	<h:outputText value="Bitte geben Sie Ihren gewünschten Reservierungszeitraum an:" /><br/><br/>
            	<p:panelGrid  columns="2" columnClasses="ui-grid-col-4, ui-grid-col-4"  styleClass="panelNoBorder">
                    <p:panelGrid  columns="1" >
            		<p:panelGrid  columns="2" >
                            <h:outputText value="von:" />
                            <h:outputText value="bis:" />
                            <p:calendar id="resStartDate" value="#{newReservationController.reservationStartDate}" pattern="dd.MM.yyyy HH:mm"  readonlyInput="true" timeZone="CET" disabledWeekends="true" locale="de" mindate="#{newReservationController.minStartDate}" inputStyle="color: #{newReservationController.startColor};" ><p:ajax event="dateSelect" listener="#{newReservationController.startDateSelected}" update="savebtnReservation timeline resStartDate resEndDate"></p:ajax></p:calendar>
                            <p:calendar id="resEndDate" value="#{newReservationController.reservationEndDate}" pattern="dd.MM.yyyy HH:mm" readonlyInput="true" timeZone="CET" disabledWeekends="true" locale="de" mindate="#{newReservationController.minEndDate}" inputStyle="color: #{newReservationController.endColor}" ><p:ajax event="dateSelect" listener="#{newReservationController.endDateSelected()}" update="savebtnReservation timeline resStartDate resEndDate"></p:ajax></p:calendar>
                        </p:panelGrid>
                        <p:panelGrid  columns="1" >
                            <h:outputText value="Zweck der Reservierung: (Pflichtfeld)" />
                            <p:inputTextarea value="#{newReservationController.annotation}" rows="6" cols="33" maxlength="255"><p:ajax event="keyup" listener="#{newReservationController.checkAddEnabled}" update="savebtnReservation"></p:ajax></p:inputTextarea>
                    	</p:panelGrid>
                    </p:panelGrid>
                    <p:panelGrid  columns="1" >
                        <h:outputText style="font-weight: bold; font-size: 15px;" value="Sie können das ausgewählte Gerät maximal #{newReservationController.maxDuration} Stunden ausleihen" />
            	<br/><br/>
                    <h:outputText style="font-style: italic" value="Beachten Sie bei der Eingabe Ihrer Reservierung bitte folgende Punkte:" />
                    <h:outputText style="font-style: italic" value="Das gewählte Start und Enddatum muss innerhalb der Öffnungszeiten des Labors sein." />
                    <h:outputText style="font-style: italic" value="Es darf keine Reservierung im ausgewählten Zeitraum liegen." />
                    <h:outputText style="font-style: italic" value="Die maximale Ausleihdauer von #{newReservationController.maxDuration} Stunden darf nicht überschritten werden." />
                    </p:panelGrid>
                </p:panelGrid>
                
                <p:commandButton icon="fa fa-save" title="Save" value="Speichern" update=":labDeviceForm:labsDeviceTable" class="btn btn-primary" oncomplete="PF('deviceReservationDialog').hide()" action="#{newReservationController.doSaveReservation}" disabled="#{!newReservationController.addEnabled}" id="savebtnReservation" style="margin-top: 10px;"/>

            </p:dialog>
            
            <!-- Show Reservation Modal -->
            <p:dialog header="Reservierungen anzeigen" id="deviceReservationListDialog" widgetVar="deviceReservationListDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" style="max-width: 550px">
                <p:dataTable id="reservationsTable" var="res" value="#{labDeviceDetailController.reservations}">
                    <p:column style="width:50px" rendered="#{sessionInfoBean.hasRole('ADMIN')}">
            		<p:rowToggler />
                    </p:column>
                    <p:column headerText="ID" style="width:50px; text-align: center;">
                        <h:outputText value="#{res.id}"/>
                    </p:column>
                    <p:column headerText="Reservierungsstart">
                        <h:outputText value="#{labDeviceDetailController.convertToDate(res.startDate, res.startTime)}">
                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm" timeZone="CET"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Reservierungsende">
                        <h:outputText value="#{labDeviceDetailController.convertToDate(res.endDate, res.endTime)}">
                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm" timeZone="CET"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Benutzer" rendered="#{sessionInfoBean.hasRole('ADMIN')}">
                        <h:outputText value="#{res.userTag.firstName} #{res.userTag.lastName}" />
                    </p:column>
                    <p:column headerText="Status" style="text-align: center">
                    	<h:outputText value="überfällig" class="label label-danger" rendered="#{reservationListController.isReservationInStatus(res, 'DUE')}"/>
                    	<h:outputText value="geplant" class="label label-info" rendered="#{reservationListController.isReservationInStatus(res, 'OPEN')}"/>
                    	<h:outputText value="aktiv" class="label label-warning" rendered="#{reservationListController.isReservationInStatus(res, 'RUN')}"/>
                	</p:column>
                    <p:rowExpansion>
                        <p:panelGrid columns="1" rendered="#{sessionInfoBean.hasRole('ADMIN')}">
                            <h:outputText value="Zweck der Reservierung:"/>
                            <h:outputText value="#{res.annotation}"/>
                        </p:panelGrid>
                    </p:rowExpansion>
                </p:dataTable>
            </p:dialog>
            
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300">
                <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
        </h:form>
        </div>
        </div>
    </ui:define>
</ui:composition>