<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
    <div class="content-wrapper">
    	<div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-book"></i> Reservierungen</h3>
            </div>
        <h:form id="reservationForm" class="templatewrapper">
            <p:dataTable id="reservationTable" var="reservation" value="#{reservationListController.reservations}">
                <p:column style="width:50px">
            		<p:rowToggler />
                </p:column>
                <p:column headerText="ID" style="width:50px; text-align: center;">
                    <h:outputText value="#{reservation.id}"/>
                </p:column>
                 <p:column headerText="Laborgerät (Gerätegruppe)">
                    <h:outputText value="#{reservation.labDeviceTag.name} "/>
                    <h:outputText class="label label-default" value="#{reservation.labDeviceGroup.name}" rendered="#{reservation.labDeviceGroup!=NULL}"/>
                </p:column>
                 <p:column headerText="Benutzer" rendered="#{sessionInfoBean.hasRole('ADMIN')}">
                    <h:outputText value="#{reservation.userTag.firstName} #{reservation.userTag.lastName}"/>
                </p:column>
                <p:column headerText="Startdatum">
                    <h:outputText value="#{labDeviceDetailController.convertToDate(reservation.startDate, reservation.startTime)}">
                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm" timeZone="CET"/>
                     </h:outputText>
                </p:column>
                <p:column headerText="Enddatum">
                    <h:outputText value="#{labDeviceDetailController.convertToDate(reservation.endDate, reservation.endTime)}">
                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm" timeZone="CET"/>
                     </h:outputText>
                </p:column>
                 <h:outputText value="#{labDeviceDetailController.convertToDate(reservation.endDate, reservation.endTime)}">
                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm" timeZone="CET"/>
                     </h:outputText>
                 <p:column headerText="Status" style="text-align: center; width: 80px">
                    <h:outputText value="überfällig" class="label label-danger" rendered="#{reservationListController.isReservationInStatus(reservation, 'DUE')}"/>
                    <h:outputText value="geplant" class="label label-info" rendered="#{reservationListController.isReservationInStatus(reservation, 'OPEN')}"/>
                    <h:outputText value="aktiv" class="label label-warning" rendered="#{reservationListController.isReservationInStatus(reservation, 'RUN')}"/>
                </p:column>
           		<p:column style="width:100px;text-align: center">
                    
                    <p:commandButton icon="fa fa-trash" title="Delete" rendered="#{reservationListController.isReservationInStatus(reservation, 'OPEN')}" class="btn btn-danger" update=":reservationForm:reservationTable" action="#{reservationListController.delete(reservation)}" >
                        <p:confirm header="Achtung" message="Möchten Sie die ausgewählte Reservierung unwiderruflich löschen?" icon="ui-icon-alert" />
                    </p:commandButton>
                </p:column>
                <p:rowExpansion>
                        <p:panelGrid columns="1">
                            <h:outputText value="Zweck der Reservierung:"/>
                            <h:outputText value="#{reservation.annotation}"/>
                        </p:panelGrid>
                    </p:rowExpansion>
            </p:dataTable>
        </h:form>
        </div>
        </div>
    </ui:define>
</ui:composition>