<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
    <div class="content-wrapper">
    	<div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-home"></i>Rückgabeliste (Liste der bestätigten rückgegebenen Laborgeräten)</h3>
            </div>
        <h:form id="labForm" class="templatewrapper">  
            <p:dataTable id="labsTable" var="res" value="#{restitutionListController.allRestitutions}">
            	<p:column style="width:40px">
            		<p:rowToggler />
        		</p:column>
                <p:column headerText="Reservierung ID" style="width:150px">
                    <h:outputText value="#{res.id}"/>
                </p:column>
                <p:column headerText="UserName">
                    <h:outputText value="#{res.userTag.username}"/>
                </p:column>
                <p:column headerText="Laborgerät">
                    <h:outputText value="#{res.labDeviceTag.name}"/>
                </p:column>
                
                <p:column style="width:100px;text-align: center">     
                    <p:commandButton icon="fa fa-edit" title="Bestätigung annullieren" class="btn btn-danger" update=":labForm:labsTable" action="#{restitutionDetailController.unconfirmRestitution(res)}">
	                        <p:confirm header="Achtung" message="Möchten Sie die Bestätigung der Rückgabe annulieren?" icon="ui-icon-alert" />
	                    </p:commandButton>
                </p:column>
                
                <p:rowExpansion>
							<p:panelGrid columns="2" style="width:320px">

								<h:outputText value="Reservierung Id:"/>
								<h:outputText value="#{res.id}" />

								<h:outputText value="Username:"/>
								<h:outputText value="#{res.userTag.username}" />
								
								<h:outputText value="Laborgerät:"/>
								<h:outputText value="#{res.labDeviceTag.name}" />

								<h:outputText value="Von:"/>
								<h:outputText value="#{res.startDate}" />

								<h:outputText value="Bis:"/>
								<h:outputText value="#{res.endDate}" />
								
								<h:outputText value="Admin der Rückgabe:"/>
								<h:outputText value="#{res.adminUsername}" />
							</p:panelGrid>
						</p:rowExpansion>
               
            </p:dataTable>
            
            
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300">
                <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
            
            
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300" id="confirmRestitution">
                <p:commandButton value="Annulieren" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="Abbrechen" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>            
        </h:form>
        </div>
        </div>
    </ui:define>
</ui:composition>