<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
    <div class="content-wrapper">
    	<div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-undo"></i> Rückgabenliste</h3>
            </div>
        <h:form id="restitutionForm" class="templatewrapper">  
            <p:dataTable id="restitutionTable" var="res" value="#{restitutionListController.allRestitutions}">
                
                <p:column headerText="ID" style="width:50px; text-align: center">
                    <h:outputText value="#{res.id}"/>
                </p:column>
                <p:column headerText="UserName">
                    <h:outputText value="#{res.userTag.firstName} #{res.userTag.lastName}"/>
                </p:column>
                <p:column headerText="Laborgerät">
                    <h:outputText value="#{res.labDeviceTag.name}"/>
                </p:column>
                <p:column headerText="Fälligkeitsdatum">
                    <h:outputText value="#{labDeviceDetailController.convertToDate(res.endDate, res.endTime)}">
                    	<f:convertDateTime pattern="dd.MM.yyyy HH:mm" timeZone="CET"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="Rückgabedatum" >
                    <h:outputText value="#{res.restitutionDate}" >
                    	<f:convertDateTime pattern="dd.MM.yyyy HH:mm" timeZone="CET"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="bestätigt von" >
                    <h:outputText value="#{userDetailController.getUserInfo(res.adminUsername)}" />
                </p:column>
                <p:column headerText="Status" style="text-align: center">
                    <h:outputText value="überfällig" class="label label-danger" rendered="#{restitutionListController.isRestitutionInStatus(res, 'DUE')}"/>
                    <h:outputText value="erledigt" class="label label-success" rendered="#{restitutionListController.isRestitutionInStatus(res, 'DONE')}"/>
                    <h:outputText value="aktiv" class="label label-warning" rendered="#{restitutionListController.isRestitutionInStatus(res, 'RUN')}"/>
                </p:column>
                <p:column style="width:100px;text-align: center" rendered="#{sessionInfoBean.hasRole('ADMIN')}">
                    <p:commandButton icon="fa fa-check" title="Rückgabe bestätigen" class="btn btn-success" rendered="#{sessionInfoBean.hasRole('ADMIN') and !restitutionListController.isRestitutionInStatus(res, 'DONE')}" update=":restitutionForm:restitutionTable btnaccept" id="btnaccept" action="#{restitutionDetailController.confirmRestitution(res)}">
	                        <p:confirm header="Achtung" message="Möchten Sie die Rückgabe bestätigen?" icon="ui-icon-alert" />
	                    </p:commandButton>
                </p:column>
			</p:dataTable>
            
            
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300">
                <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
            
            
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300" id="confirmRestitution">
                <p:commandButton value="Akzeptieren" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="Abbrechen" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
        </h:form>
        </div>
        </div>
    </ui:define>
</ui:composition>