<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
    <div class="content-wrapper">
    	<div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-users"></i> Benutzerliste</h3>
            </div>
        <h:form id="userForm" class="templatewrapper">
            <p:dataTable id="usersTable" var="user" value="#{userListController.users}">
                <p:column headerText="C-Kennung (Benutzername)">
                    <h:outputText value="#{user.username}"/>
                </p:column>
                <p:column headerText="Vorname">
                    <h:outputText value="#{user.firstName}"/>
                </p:column>
                <p:column headerText="Nachname">
                    <h:outputText value="#{user.lastName}"/>
                </p:column>
                <p:column headerText="Rolle">
                    <h:outputText class="label label-success" style="margin-left: 5px; margin-right: 5px;" value="STUDENT" rendered="#{userListController.checkRole(user.roles, 'STUDENT')}"/>
                    <h:outputText class="label label-warning" style="margin-left: 5px; margin-right: 5px;" value="MITARBEITER" rendered="#{userListController.checkRole(user.roles, 'EMPLOYEE')}"/>
                    <h:outputText class="label label-danger" style="margin-left: 5px; margin-right: 5px;" value="ADMIN" rendered="#{userListController.checkRole(user.roles, 'ADMIN')}"/>
                </p:column>
                <p:column headerText="Aktiv" style="width:60px; text-align: center;" >
                    <h:selectBooleanCheckbox value="#{user.enabled}" disabled="true"/>
                </p:column>
                <p:column style="width:100px;text-align: center">
                    <p:commandButton update=":userForm:userEditDialog" oncomplete="PF('userEditDialog').show()" icon="fa fa-edit" class="btn btn-primary" title="Edit">
                        <f:setPropertyActionListener value="#{user}" target="#{userDetailController.user}" />
                    </p:commandButton>
                    <p:commandButton action="#{userDetailController.doDeleteUser}" icon="fa fa-trash" title="Delete"  class="btn btn-danger" update=":userForm:usersTable">
                        <f:setPropertyActionListener value="#{user}" target="#{userDetailController.user}" />
                        <p:confirm header="Confirmation" message="Are you sure that you want to delete this user? You cannot undo this operation." icon="ui-icon-alert" />
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            <p:dialog header="Edit User" id="userEditDialog" widgetVar="userEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="userData" rendered="#{not empty userDetailController.user}">
                    <h:panelGrid columns="2">
                        <p:outputLabel for="username" value="Benutzername: " />
                        <p:inputText id="username" value="#{userDetailController.user.username}" disabled="true"/>
                        <p:outputLabel for="password" value="Passwort: " />
                        <p:password id="password" value="#{userDetailController.user.password}" disabled="true"/>
                    </h:panelGrid>
                    <p:separator />
                    <h:panelGrid columns="2">
                        <p:outputLabel for="firstName" value="Vorname: " />
                        <p:inputText id="firstName" value="#{userDetailController.user.firstName}"/>
                        <p:outputLabel for="firstName" value="Nachname: " />
                        <p:inputText id="lastName" value="#{userDetailController.user.lastName}"/>
                        <p:outputLabel for="email" value="E-Mail: " />
                        <p:inputText id="email" value="#{userDetailController.user.email}"/>
                        <p:outputLabel for="phone" value="Telefon: " />
                        <p:inputMask id="phone" value="#{userDetailController.user.phone}" mask="+99? 999 9999999"/>
                    </h:panelGrid>
                    <p:separator />
                    <h:panelGrid columns="2">
                        <p:outputLabel for="enabled" value="Aktiv: " />
                        <p:selectBooleanCheckbox id="enabled" value="#{userDetailController.user.enabled}"/>
                    </h:panelGrid>
                    <p:separator />
                    <h:panelGrid columns="3">
                        <p:commandButton value="speichern" action="#{userDetailController.doSaveUser()}" oncomplete="PF('userEditDialog').hide()" update=":userForm:usersTable"/>
                        <p:commandButton value="Reload" action="#{userDetailController.doReloadUser()}" update=":userForm:userData"/>
                        <p:commandButton value="abbrechen" onclick="PF('userEditDialog').hide()"/>
                    </h:panelGrid>
                </p:outputPanel>
            </p:dialog>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300">
                <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>

        </h:form>
        </div>
        </div>
    </ui:define>
</ui:composition>