.login-box{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	
}

.start{
	background-image: url('/resources/lab.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.main_logo{
	width: 90%;	
}

.login-logo{
	background-color: #fff !important;
	margin-bottom: 0px !important;
}

.outerbox{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.skin-purple-light .main-header .navbar{
	background-color: #f29400 !important;
}

.skin-purple-light .main-header .logo{
	background-color: #f29400 !important;
}

.skin-purple-light .main-header li.user-header{
	background-color: #f29400 !important;
}

.skin-purple-light .sidebar-menu > li.active{
	background-color: #f29400 !important;
}

.btn-primary {
	background-color: #003­362 !important;
    border-color: #003­362 !important;
}

.user-panel {
	padding-bottom: 30px !important;
}

.header {
	margin-bottom: 0px !important;
}

.progress-bar-red{
	background-color: #dd4b39 !important
}

.progress-bar-green{
	background-color: #00a65a !important;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
	height: auto !important;
}

.table-standard{
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;

    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.navbar-nav{
	background-color: #f29400 !important;
}

.ui-column-title{
	color: #000 !important;
}

.templatewrapper{
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
	
}

.menubutton{
	width: 100% !important;
	border: none !important;
}

.box-title{
	font-size: 35px !important;
    padding-bottom: 25px !important;
}

.panelNoBorder, .panelNoBorder tr, .panelNoBorder td, .panelNoBorder cell{
border: hidden;
border-color: white;
}

.ui-panelgrid .ui-panelgrid-cell {
	border-style: hidden !important;
	padding-top: 10px;	
}



    div.timeline-frame {  
        border-color: #5D99C3;  
        border-radius: 5px;  
    }  
 
    div.timeline-axis {  
        border-color: #5D99C3;  
        background-color: #5D99C3;  
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5D99C3', endColorstr='#3A6DA0') alpha(opacity = 100);  
        background: -webkit-gradient(linear, left top, left bottom, from(#5D99C3), to(#3A6DA0));  
        background: -moz-linear-gradient(top,  #5D99C3,  #3A6DA0);  
        -khtml-opacity: 1;  
        -moz-opacity: 1;  
        opacity: 1;  
    }  
 
    div.timeline-groups-axis {  
        border-color: #5D99C3;  
    }  
 
    div.timeline-groups-axis-onleft {  
        border-style: none solid none none;  
    }  
 
    div.timeline-axis-text {  
        color: white;  
    }  
 
    div.timeline-event {  
        color: white !important;  
        border-radius: 5px !important;  
    }  
 
    div.timeline-event-content {  
        padding: 5px;  
        text-shadow: none;  
    }  
 
    div.unavailable {  
        background: #F03030 none !important;  /* red */  
        border-color: #bd2828 !important;     /* red */  
    }  
 
    div.available {  
        background: #1AA11A none !important;  /* green */  
        border-color: #136e13 !important;     /* green */  
    }  
 
    div.maybe {  
        background: #FFA500 none !important;  /* orange */  
        border-color: #cc8100 !important;     /* orange */  
    }  
 
    div.timeline-event-selected {  
        background: #BECEFE none !important;  
        border-color: #97B0F8 !important;  
    } 
    
.timelineModal{
	padding-top: 20px;
	padding-bottom: 40px;
	width: 100%;
}

.skin-purple-light .main-header .navbar .sidebar-toggle:hover {
    background-color: #3c8dbc !important;
}

.main-sidebar{
	width: 236px !important;
}

.box{
	border-top: 3px solid #fff !important;
}