
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <h:head>
        <title>UIBK Geräteverwaltung</title>
        <h:outputStylesheet name="adminlte/dist/css/AdminLTE.min.css" />
        <h:outputStylesheet library="webjars" name="font-awesome/4.7.0/css/font-awesome-jsf.css" /> 
        <h:outputStylesheet name="adminlte/bower_components/bootstrap/dist/css/bootstrap.css" />
        <h:outputStylesheet name="adminlte/dist/css/skins/_all-skins.min.css" />
        <h:outputStylesheet name="styles.css" />
        <h:outputStylesheet name="afaces.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" rel="stylesheet" type="text/css" />
    </h:head>
    <h:body class="skin-purple-light start">
        <div id="page">
            <div id="header">
                <ui:include src="/WEB-INF/includes/header.xhtml" />
            </div>
            <div id="content">
                <ui:insert name="content">Content</ui:insert>
            </div>
            <div id="footer">
                <ui:include src="/WEB-INF/includes/footer.xhtml" />
            </div>

        </div>

		<h:outputScript name="adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js"/>
		<h:outputScript name="adminlte/dist/js/adminlte.min.js"/>
		<h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
		<h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="head" />
    </h:body>
</html>