<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">

    	<div class="login-box">
		 <div class="login-logo">
		     <img src="/resources/uibk.png" class="main_logo" alt="logo"></img>
		  </div>
		  <div class="login-box-body">
		    <p class="login-box-msg">Sie sind nicht angemeldet</p>
		    	<a href="../login.xhtml">
		          <button class="btn btn-primary btn-block btn-flat">zurück zu Login</button>
		        </a>  
		  </div>
		</div>

    </ui:define>
</ui:composition>