<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="availableLabDevicesTest">
            <p:dataTable id="labDeviceTable" var="labDevice" value="#{labDeviceListController.getReservableLabDeviceOfModel()}">
                <p:column sortBy="#{labDevice.id}"  headerText="ID">
                    <h:outputText value="#{labDevice.id}"/>
                </p:column>
                <p:column sortBy="#{labDevice.deviceModel}" headerText="Device Model">
                    <h:outputText value="#{labDevice.deviceModel}"/>
                </p:column>
                <p:column sortBy= "#{labDevice.name}" headerText="Name" >
                    <h:outputText value="#{labDevice.name}" />
                </p:column>

            </p:dataTable>



        </h:form>
    </ui:define>
</ui:composition>