<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
    <div class="content-wrapper">
    	<div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-plus"></i> neues Labor hinzufügen</h3>
            </div>
        <h:form id="labForm" class="templatewrapper">  
            <p:dataTable id="labsTable" var="lab" value="#{laboratoryListController.allLaboratories}">
                <p:column headerText="ID" style="width:150px">
                    <h:outputText value="#{lab.id}"/>
                </p:column>
                <p:column headerText="Name">
                    <h:outputText value="#{lab.laboratoryName}"/>
                </p:column>
                <p:column style="width:100px;text-align: center">
                    <p:commandButton icon="fa fa-edit" title="Edit" class="btn btn-primary" update=":labForm:labEditDialog" oncomplete="PF('labEditDialog').show()">
                        <f:setPropertyActionListener value="#{lab}" target="#{laboratoryOpeningTimeController.laboratory}" />
                    </p:commandButton>
                    <p:commandButton icon="fa fa-trash" title="Delete" class="btn btn-danger" update=":labForm:labsTable" action="#{laboratoryOpeningTimeController.doDeleteLaboratory}">
                        <f:setPropertyActionListener value="#{lab}" target="#{laboratoryOpeningTimeController.laboratory}" />
                        <p:confirm header="Achtung" message="Möchten Sie das ausgewählte Labor unwiderruflich löschen?" icon="ui-icon-alert" />
                    </p:commandButton>
                </p:column>
                
               
            </p:dataTable>
            
            <!--  Edit Modal -->
            <p:dialog header="Öffnungszeiten ändern" id="labEditDialog" widgetVar="labEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">

                <p:panelGrid  columns="3" style="width:500px">
		              	
                    <f:facet name="header">
                            <h:outputText value="Öffnungszeiten" /> 
                    </f:facet>

                    <h:outputText value="Tag" />
                    <h:outputText value="von" />
                    <h:outputText value="bis" />

                    <h:outputText value="Montag:" />
                    <p:calendar id="monStart" value="#{laboratoryOpeningTimeController.mon.openTime}" timeOnly="true" pattern="HH:mm" maxHour="22" minHour="6" stepMinute="5"/>  
                    <p:calendar id="monEnd" value="#{laboratoryOpeningTimeController.mon.closeTime}" timeOnly="true" pattern="HH:mm" maxHour="22" minHour="6" stepMinute="5"/>

                    <h:outputText value="Dienstag:" />
                    <p:calendar id="tueStart" value="#{laboratoryOpeningTimeController.tue.openTime}" timeOnly="true" pattern="HH:mm" maxHour="22" minHour="6" stepMinute="5"/>
                    <p:calendar id="tueEnd" value="#{laboratoryOpeningTimeController.tue.closeTime}" timeOnly="true" pattern="HH:mm" maxHour="22" minHour="6" stepMinute="5"/>

                    <h:outputText value="Mittwoch:" />
                    <p:calendar id="wedStart" value="#{laboratoryOpeningTimeController.wed.openTime}" timeOnly="true" pattern="HH:mm" maxHour="22" minHour="6" stepMinute="5"/>
                    <p:calendar id="wedEnd" value="#{laboratoryOpeningTimeController.wed.closeTime}" timeOnly="true" pattern="HH:mm" maxHour="22" minHour="6" stepMinute="5"/>

                    <h:outputText value="Donnerstag:" />
                    <p:calendar id="thuStart" value="#{laboratoryOpeningTimeController.thu.openTime}" timeOnly="true" pattern="HH:mm" maxHour="22" minHour="6" stepMinute="5"/>
                    <p:calendar id="thuEnd" value="#{laboratoryOpeningTimeController.thu.closeTime}" timeOnly="true" pattern="HH:mm" maxHour="22" minHour="6" stepMinute="5"/>

                    <h:outputText value="Freitag" />
                    <p:calendar id="friStart" value="#{laboratoryOpeningTimeController.fri.openTime}" timeOnly="true" pattern="HH:mm" maxHour="22" minHour="6" stepMinute="5"/>
                    <p:calendar id="friEnd" value="#{laboratoryOpeningTimeController.fri.closeTime}" timeOnly="true" pattern="HH:mm" maxHour="22" minHour="6" stepMinute="5"/>

                    <h:outputText value="Samstag" />
                    <h:outputText value="geschlossen" />
                    <h:outputText value="geschlossen" />

                    <h:outputText value="Sonntag" />
                    <h:outputText value="geschlossen" />
                    <h:outputText value="geschlossen" />
                    
                </p:panelGrid>
                
                <p:commandButton icon="fa fa-save" title="Save" value="Speichern" class="btn btn-primary" oncomplete="PF('labEditDialog').hide()" action="#{laboratoryOpeningTimeController.save}" style="margin-top: 10px;"/>
              
            </p:dialog>
            
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300">
                <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
        </h:form>
        </div>
        </div>
    </ui:define>
</ui:composition>