<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/templates/main.xhtml">


    <ui:define name ="content">

        <h:form>
            <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true"/>
        </h:form>
        <h:form id="newReservationForm" class="col s12">
            <h:panelGrid columns="3" cellpadding="5" >
                <p:outputLabel for="startDate" value="Start Datum"/>
                <p:calendar id="startDate" value="#{newReservationController.tempStartDate}" />
                <p:message for="startDate" />

                <p:outputLabel for="endDate" value="End Datum:"/>
                <p:calendar id="endDate" value="#{newReservationController.tempEndDate}"/>
                <p:message for="endDate" />

                <p:outputLabel for="startTime" value="Start Zeit"/>
                <p:calendar id="startTime" value="#{newReservationController.tempStartTime}" pattern="HH:mm" timeOnly="true"  />
                <p:message for="startTime" />

                <p:outputLabel for="endTime" value="End Zeit"/>
                <p:calendar id="endTime" value="#{newReservationController.tempEndTime}" pattern="HH:mm" timeOnly="true" />
                <p:message for="endTime" />


                <p:outputLabel for="labDevice" value="Gerät" />
                <p:selectOneMenu id="labDevice" value="#{newReservationController.labDeviceName}" style="width:150px">
                    <f:selectItems var="device" value="#{labDeviceListController.getReservableLabDeviceOfModel()}" itemLabel="#{device.name}" itemValue="#{device.name}"/>
                </p:selectOneMenu>
                <p:message for="labDevice" />


            </h:panelGrid>



            <div class="divider"></div>

            <h:commandButton id="saveRes" value = "Reservation Speichern" name="save"  class="waves-effect waves-light btn" action="#{newReservationController.createReservation}"></h:commandButton>



        </h:form>




    </ui:define>

</ui:composition>
