<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/templates/main.xhtml">


    <ui:define name ="content">
<div class="content-wrapper">
    	<div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-user-plus"></i> neuer Benutzer</h3>
            </div>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
        	<span class="ui-inputgroup-addon">Benutzername</span>
            <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
            <p:inputText placeholder="Username" />      
        </div>
    </div>
 
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">$</span>
            <p:inputText placeholder="Price" />
            <span class="ui-inputgroup-addon">.00</span>      
        </div>
    </div>
 
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">www</span>
            <p:inputText placeholder="Website" />   
        </div>
    </div>
</div>
 </div>
        </div>

    </ui:define>

</ui:composition>
