<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">


    <ui:define name ="content">
        <h2>Neue Reservation</h2>


        <h:form>
            <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true"/>
        </h:form>

        <p:commandButton name="test1" value="Test Reservationen" action="#{newReservationController.createTestReservations()}"></p:commandButton>

    </ui:define>

</ui:composition>
