<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
       <div class="content-wrapper">
        <h:form class="outerbox">
        	<div class="row">
       
		<div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-flask"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Laborgeräte</span>
              <h:outputText class="info-box-number" value="#{countController.countLabDevices}"/>
            </div>

          </div>

        </div>

        <h:panelGroup rendered="#{sessionInfoBean.hasRole('ADMIN') or sessionInfoBean.hasRole('EMPLOYEE')}">
         <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-object-group"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Gerätegruppen</span>
              <h:outputText class="info-box-number" value="#{countController.countLabDeviceGroups}"/>
            </div>

          </div>

        </div>
		</h:panelGroup>

		<div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-book"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Reservierungen</span>
              <h:outputText class="info-box-number" value="#{countController.countAllReservations}"/>
            </div>

          </div>

        </div>
 
        <h:panelGroup rendered="#{sessionInfoBean.hasRole('ADMIN')}">

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Benutzer</span>
              <h:outputText class="info-box-number" value="#{countController.countUsers}"/>
            </div>
           
          </div>
         
        </div>
        </h:panelGroup>
       
       
      </div>
            <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Übersicht</h3>

             
            </div>
           
            <div class="box-body">
              <div class="row">
                
                <div class="col-md-12">
                  <p class="text-center">
                    <strong>Es wurden #{countController.countAllReservations} Reservierungen im System gefunden</strong>
                  </p>

                  <div class="progress-group">
                    <span class="progress-text">geplante Reservierungen</span>
                    <span class="progress-number"><b>#{countController.countOpenReservations}</b></span>

                    <div class="progress sm">
                        <div class="progress-bar progress-bar-aqua" style="width: #{countController.prozOpenReservations}%"></div>
                    </div>
                  </div>
                 
                  <div class="progress-group">
                    <span class="progress-text">aktive Reservierungen</span>
                    <span class="progress-number"><b>#{countController.countRunReservations}</b></span>

                    <div class="progress sm">
                        <div class="progress-bar progress-bar-yellow" style="width: #{countController.prozRunReservation}%"></div>
                    </div>
                  </div>
                  
                  <div class="progress-group">
                    <span class="progress-text">Überfällige Reservierungen</span>
                    <span class="progress-number"><b>#{countController.countDueReservations}</b></span>

                    <div class="progress sm">
                        <div class="progress-bar progress-bar-red" style="width: #{countController.prozDueReservations}%"></div>
                    </div>
                  </div>
                  
                  <div class="progress-group">
                    <span class="progress-text">abgeschlossene Reservierungen</span>
                    <span class="progress-number"><b>#{countController.countDoneReservations}</b></span>

                    <div class="progress sm">
                        <div class="progress-bar progress-bar-green" style="width: #{countController.prozDoneReservations}%"></div>
                    </div>
                  </div>
                  
                </div>
                
              </div>
            
            </div>
            
          </div>
        </h:form>
        </div>
    </ui:define>
</ui:composition>