<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
	<ui:composition>
  		<h:form id="addForm">
  		
  			<!-- Add new Lab Modal -->
  		 	<p:dialog header="neues Labor" id="labNewDialog" widgetVar="labNewDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:messages id="labmessages" for="name" showDetail="true" ><p:autoUpdate /></p:messages>
                <p:panelGrid  columns="2" style="width:500px">
                    <h:outputText value="Laborname:" />
                    <p:inputText value="#{laboratoryAddController.laboratory.laboratoryName}" id="labname"><p:ajax event="keyup" listener="#{laboratoryAddController.inputChanged(true)}" update="savebtnLab"></p:ajax></p:inputText> 
                </p:panelGrid>
                <p:commandButton icon="fa fa-save" title="Save" value="Speichern" class="btn btn-primary" oncomplete="PF('labNewDialog').hide()" action="#{laboratoryAddController.save}" disabled="#{!laboratoryAddController.addEnabled}" id="savebtnLab" style="margin-top: 10px;"/>
            </p:dialog>
            
            <!-- Add new LabDevice Modal -->
            <p:dialog header="Laborgerät hinzufügen" id="deviceNewDialog" widgetVar="deviceNewDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">

                <p:panelGrid  columns="2" style="width:700px">
                    <h:outputText value="Geräteame:" />
                    <p:inputText value="#{labDeviceDetailController.labDevice.name}" id="name"><p:ajax event="keyup" listener="#{labDeviceDetailController.inputChanged(false)}" update="savebtnDevice"></p:ajax></p:inputText>
                    
                    <h:outputText value="Modellnr.:" />
                    <p:inputText value="#{labDeviceDetailController.labDevice.deviceModel}" id="model"><p:ajax event="keyup" listener="#{labDeviceDetailController.inputChanged(false)}" update="savebtnDevice"></p:ajax></p:inputText>

                    <h:outputText value="Labor:" />
                    <p:selectOneMenu value="#{labDeviceDetailController.laboratory}">
                        <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
                        <f:selectItems value="#{labDeviceDetailController.laboratories}"/>
                        <p:ajax listener="#{labDeviceDetailController.inputChanged(true)}" update="savebtnDevice" />
                    </p:selectOneMenu>
                    
                    <h:outputText value="Standort:" />
                    <p:inputText value="#{labDeviceDetailController.labDevice.location}" id="location"></p:inputText>
                    
                    <h:outputText value="max. Reservierungsdauer (in h):" />
                    <p:inputNumber id="duration" value="#{labDeviceDetailController.labDevice.maxDurationInHours}"><p:ajax event="keyup" listener="#{labDeviceDetailController.inputChanged(false)}" update="savebtnDevice"></p:ajax></p:inputNumber>
                    
                    <h:outputText value="Zustand:" />
                    <p:selectOneButton value="#{labDeviceDetailController.labDevice.state}" >
           				<f:selectItem itemLabel="verfügbar" itemValue="true" />
            			<f:selectItem itemLabel="gesperrt" itemValue="false" />
        			</p:selectOneButton>	
                    
                    
                    <h:outputText value="Bemerkung:" />
                    <p:inputTextarea value="#{labDeviceDetailController.labDevice.annotation}" rows="6" cols="33" maxlength="255" />
                    
                </p:panelGrid>
                
                <p:commandButton icon="fa fa-save" title="Save" value="Speichern" class="btn btn-primary" oncomplete="PF('deviceNewDialog').hide()" action="#{labDeviceDetailController.doSaveLabDevice}" disabled="#{!labDeviceDetailController.addEnabled}" id="savebtnDevice" style="margin-top: 10px;"/>
              
            </p:dialog>
            
            <!-- Add new LabDevice Group -->
            <p:dialog header="neue Gerätegruppe" id="groupNewDialog" widgetVar="groupNewDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:messages id="groupmessages" for="groupName" showDetail="true" ><p:autoUpdate /></p:messages>
                <p:panelGrid  columns="2" style="width:800px">
                    <h:outputText value="Gruppenname:" />
                    <p:inputText id="groupName" value="#{labDeviceGroupDetailController.labDeviceGroup.name}">
                    	<p:ajax event="keyup" listener="#{labDeviceGroupDetailController.inputChanged(true)}" update=":addForm:savebtnGroup"/>
                    </p:inputText>
                    
                    <p:autoComplete id="egal" completeMethod="#{labDeviceGroupDetailController.completeDevices}" minQueryLength="3" var="device" itemValue="#{device.id}" forceSelection="true" placeholder="Geräte hinzufügen">
                                        
                                        <p:ajax event="itemSelect" listener="#{labDeviceGroupDetailController.addDevice}" update="deviceTable :addForm:savebtnGroup"/> 
                                        <p:column>
                                            <h:outputText value="#{device.name}" />
                                        </p:column>
                                         <p:column>
                                         	<h:outputText value="#{device.deviceModel}" />
                                        </p:column>
                                         <p:column>
                                            <h:outputText value="#{device.laboratory.laboratoryName}" />
                                        </p:column>
                                         <p:column>
                                            <h:outputText value="#{device.location}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText class="label label-success" value="verfügbar" rendered="#{device.state}"/>
                    						<h:outputText class="label label-danger" value="gesperrt" rendered="#{!device.state}"/>
                                        </p:column>
                                    </p:autoComplete>
                                <p:dataTable id="deviceTable" var="device" value="#{labDeviceGroupDetailController.labDeviceGroup.labDevices}" widgetVar="deviceGroup" scrollHeight="160" scrollable="true" >
                                   <p:column headerText="Gerätename" sortBy="#{device.name}" >
                                       <h:outputText value="#{device.name}" />                     
                                   </p:column>
                                    <p:column headerText="Modellnr." >
                                       <h:outputText value="#{device.deviceModel}" />                     
                                   </p:column>
                                   <p:column headerText="Labor" >
                                       <h:outputText value="#{device.laboratory.laboratoryName}" />                     
                                   </p:column>
                                    <p:column headerText="Standort" >
                                       <h:outputText value="#{device.location}" />                     
                                   </p:column>
                                   <p:column headerText="Zustand">
                                       <h:outputText class="label label-success" value="verfügbar" rendered="#{device.state}"/>
                    					<h:outputText class="label label-danger" value="gesperrt" rendered="#{!device.state}"/>                
                                   </p:column>
                                   
                                   
                                    <p:column style="width:32px;text-align: center">
                                        <p:commandButton icon="fa fa-trash" class="btn btn-danger" actionListener="#{labDeviceGroupDetailController.deleteDevice(device)}" update="deviceTable :addForm:savebtnGroup">
                                             <p:confirm header="Entferne?" message="Wollen Sie das Gerät wirklich aus der Liste entfernen?" icon="ui-icon-alert"/>
                                        </p:commandButton>
                                    </p:column>
                                   
                               </p:dataTable>
                </p:panelGrid>
                <p:commandButton icon="fa fa-save" title="Save" value="Speichern" class="btn btn-primary" oncomplete="PF('groupNewDialog').hide()"  id="savebtnGroup" style="margin-top: 10px;" action="#{labDeviceGroupDetailController.save}" disabled="#{!labDeviceGroupDetailController.addEnabled}"/>
            	<h:outputText style="text-align: right" value="Bitte geben Sie den Gruppennamen und die dazugehörigen Geräte an. Es müssen mindestens 2 Geräte in der Liste sein." />
            </p:dialog>
            
            <!-- Add new Reservation -->
            <p:dialog header="neue Reservierung" id="reservationNewDialog" widgetVar="reservationNewDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" style="width: 600px;" >
                
                 <p:panelGrid  columns="2" columnClasses="ui-grid-col-4, ui-grid-col-4"  styleClass="panelNoBorder">
                 <p:panelGrid  columns="1" >
                 <h:outputText value="Bitte geben Sie Ihren gewünschten Reservierungszeitraum an:" /><br/><br/>
                <p:panelGrid  columns="2" >
                            <h:outputText value="von:" />
                            <h:outputText value="bis:" />
                            <p:calendar id="resStartDate" value="#{newReservationController.reservationStartDate}" pattern="dd.MM.yyyy HH:mm"  readonlyInput="true" timeZone="CET" disabledWeekends="true" locale="de" mindate="#{newReservationController.minStartDate}" inputStyle="color: #{newReservationController.startColor};" ><p:ajax event="dateSelect" listener="#{newReservationController.multiStartDateSelected}" update="savebtnReservation availableDevices resStartDate resEndDate"></p:ajax></p:calendar>
                            <p:calendar id="resEndDate" value="#{newReservationController.reservationEndDate}" pattern="dd.MM.yyyy HH:mm" readonlyInput="true" timeZone="CET" disabledWeekends="true" locale="de" mindate="#{newReservationController.minEndDate}" inputStyle="color: #{newReservationController.endColor}" ><p:ajax event="dateSelect" listener="#{newReservationController.multiEndDateSelected()}" update="savebtnReservation availableDevices resStartDate resEndDate"></p:ajax></p:calendar>
                  </p:panelGrid>
                  </p:panelGrid>
                  <p:panelGrid  columns="1" >
                            <h:outputText value="Zweck der Reservierung: (Pflichtfeld)" />
                            <p:inputTextarea value="#{newReservationController.annotation}" rows="4" cols="30" maxlength="255"><p:ajax event="keyup" listener="#{newReservationController.checkAddEnabled}" update="savebtnReservation"></p:ajax></p:inputTextarea>
                  </p:panelGrid>   	
                </p:panelGrid> 
                <p:panelGrid columns="1" columnClasses="ui-grid-col-12" >
                <p:dataTable id="availableDevices" var="devices" value="#{newReservationController.allLabDevices}" selection="#{newReservationController.labDevices}" rowKey="#{devices.id}" style="width: 1200px; margin-bottom:0; padding-top: 20px;">
                    <p:ajax event="rowSelectCheckbox" listener="#{newReservationController.checkMultiAddEnabled()}" update=":addForm:savebtnReservation" />
                    <p:ajax event="rowUnselectCheckbox" listener="#{newReservationController.checkMultiAddEnabled()}" update=":addForm:savebtnReservation" />
                    <p:ajax event="rowSelect" listener="#{newReservationController.checkMultiAddEnabled()}" update=":addForm:savebtnReservation" />
                    <p:ajax event="rowUnselect" listener="#{newReservationController.checkMultiAddEnabled()}" update=":addForm:savebtnReservation" />
                    <p:ajax event="toggleSelect" listener="#{newReservationController.checkMultiAddEnabled()}" update=":addForm:savebtnReservation" />
                    <f:facet name="header">
                    Verfügbare Geräte im gewählten Zeitraum
                    </f:facet>
                    <p:column selectionMode="multiple" style="width:40px;text-align:center"/>
                    <p:column headerText="ID" style="width:100px; text-align: center;">
                        <h:outputText value="#{devices.id}" />
                    </p:column>
                    <p:column headerText="Name">
                        <h:outputText value="#{devices.name}" />
                    </p:column>
                    <p:column headerText="Labor">
                        <h:outputText value="#{devices.laboratory.laboratoryName}" />
                    </p:column>
                    <p:column headerText="Standort">
                        <h:outputText value="#{devices.location}" />
                    </p:column>
			        
                </p:dataTable>
                </p:panelGrid>
                <p:commandButton icon="fa fa-save" title="Save" value="Speichern" class="btn btn-primary" oncomplete="PF('reservationNewDialog').hide()" action="#{newReservationController.doSaveReservation}" disabled="#{!newReservationController.addEnabled}" id="savebtnReservation" style="margin-top: 10px;"/>
            </p:dialog>
            
            <!-- Add new User Modal -->
        	<p:dialog header="neuer Benutzer" id="userNewDialog" widgetVar="userNewDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" >
                <p:outputPanel id="userData">
                    <p:messages id="messages" for="cident" showDetail="true" ><p:autoUpdate /></p:messages>
                    <h:panelGrid columns="2" style="width:500px" cellpadding="10">
                        <p:outputLabel for="cident" value="C-Kennung (Benutzername): " />
                        <p:inputText id="cident" value="#{userAddController.user.cIdent}">
                            <p:ajax event="keyup" listener="#{userAddController.inputChanged(true)}" update="savebtnUser"/>
                        </p:inputText>
                        <p:outputLabel for="password" value="Passwort: " />
                        <p:password id="password" value="#{userAddController.user.password}"><p:ajax event="keyup" listener="#{userAddController.inputChanged(false)}" update="savebtnUser"></p:ajax></p:password>
                    </h:panelGrid>
                    <p:separator />
                    <h:panelGrid columns="2" style="width:500px" cellpadding="10">
                        <p:outputLabel for="firstName" value="Vorname: " />
                        <p:inputText id="firstName" value="#{userAddController.user.firstName}"><p:ajax event="keyup" listener="#{userAddController.inputChanged(false)}" update="savebtnUser"></p:ajax></p:inputText>
                        <p:outputLabel for="firstName" value="Nachname: " />
                        <p:inputText id="lastName" value="#{userAddController.user.lastName}"><p:ajax event="keyup" listener="#{userAddController.inputChanged(false)}" update="savebtnUser"></p:ajax></p:inputText>
                        <p:outputLabel for="email" value="E-Mail: " />
                        <p:inputText id="email" value="#{userAddController.user.email}"><p:ajax event="keyup" listener="#{userAddController.inputChanged(false)}" update="savebtnUser"></p:ajax></p:inputText>
                        <p:outputLabel for="phone" value="Telefon: " />
                        <p:inputMask id="phone" value="#{userAddController.user.phone}" mask="+99? 999 9999999"/>
                    </h:panelGrid>
                    <p:separator />
                    <h:panelGrid columns="2" style="width:500px;" cellpadding="30">
                        <p:outputLabel for="enabled" value="Aktiv: " />
                        <p:selectBooleanCheckbox id="enabled" value="#{userAddController.user.enabled}"/>
                        
                        <p:outputLabel for="student" value="Student: " />
                        <p:selectBooleanCheckbox id="student" value="true" disabled="true"/>
                        
                        <p:outputLabel for="employee" value="Mitarbeiter: " />
                        <p:selectBooleanCheckbox id="employee" value="#{userAddController.roleEmployee}"/>
                        
                        <p:outputLabel for="admin" value="Administrator: " />
                        <p:selectBooleanCheckbox id="admin" value="#{userAddController.roleAdmin}"/>
                       
                    </h:panelGrid>
                    <p:separator />

                        <p:commandButton icon="fa fa-save" title="Save" value="Speichern" class="btn btn-primary" action="#{userAddController.addUser()}" oncomplete="PF('userNewDialog').hide()" id="savebtnUser" disabled="#{!userAddController.addEnabled}"/>
                </p:outputPanel>
            </p:dialog>
			
			<!-- Edit Mailserver Settings -->
			<p:dialog header="Mailserver Einstellungen" id="mailEditDialog" widgetVar="mailEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <h:panelGrid columns="2" style="width:500px" cellpadding="10">
                        <p:outputLabel value="Postausgangsserver:" />
                        <p:inputText id="server" value="#{settingController.server.settingValue}" />
                        <p:outputLabel value="Port:" />
                        <p:inputText id="port" value="#{settingController.port.settingValue}"/>
                        <p:outputLabel value="SSL" />
                        <p:selectBooleanCheckbox value="#{settingController.ssl.settingValue}"/>
                        <p:outputLabel value="TLS" />
                        <p:selectBooleanCheckbox value="#{settingController.starttls.settingValue}"/>
                        
                        <p:outputLabel value="Benutzername:" />
                        <p:inputText id="user" value="#{settingController.username.settingValue}" />
                       	<p:outputLabel value="Passwort:" />
                        <p:password id="passwordmail" value="#{settingController.password.settingValue}" redisplay="true" />
                        <p:outputLabel value="Absendername" />
                        <p:inputText id="sender" value="#{settingController.sendermail.settingValue}" />
                    </h:panelGrid>
                            <p:commandButton icon="fa fa-save" title="Save" value="Speichern" class="btn btn-primary" oncomplete="PF('mailEditDialog').hide()" action="#{settingController.save}" id="savebtnMail" style="margin-top: 10px;"/>
            </p:dialog>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300">
                <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
            
            </h:form>
        </ui:composition>
</html>