<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">

    	<div class="login-box" style="box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">
		<div class="login-logo">
		     <img src="/resources/uibk.png" class="main_logo" alt="logo"></img>
		  </div>
		  <div class="login-box-body">
		    <p class="login-box-msg">Bitte melden Sie sich an</p>
		
		    <form id="login_form" action="#{request.contextPath}/login" method="post">
		      <div class="form-group has-feedback">
		        <p:inputText id="username" type="text" required="true" class="form-control" placeholder="Benutzername"/>
		        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
		      </div>
		      <div class="form-group has-feedback">
		      	<p:inputText id="password" type="password" required="true" class="form-control" placeholder="Passwort"/>
		        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
		      </div>
		      <div class="row">
		        <div class="col-xs-12">
		          <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
		        </div>
		      </div>
		    </form>
		
		  </div>
		</div>
    </ui:define>
</ui:composition>